.section {
  background-color: #454a56;
  border: 1px solid dimgrey;
  border-radius: 5px;
  padding: 10px;
}

.header {
  color: gainsboro;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.header_aside {
  color: gray;
  margin-left: auto;
}