.section {
  background-color: #454a56;
  border: 1px solid dimgrey;
  border-radius: 5px;
  padding: 10px;
}

.header {
  color: gainsboro;
  display: flex;
  flex-direction: row;
}

.header_aside {
  color: gray;
  margin-left: auto;
}

.content {
  display: flex;
}

.data {
  color: gainsboro;
  padding: 30px;
}

.data p {
  margin-top: 0;
}

.data p.green {
  color: green;
}

.data p.red {
  color: red;
}